body {
                font-family: sans-serif;
            }
            h1 {
                font-family: sans-serif;
            }
            #pic {
                width: 400;
                float: left;
                margin: 12px;
            }
            #sidebar {
                color: white;
                background: rgb(255, 0, 0);
                float: right;
                width: 33.33%;
                padding: 12px;
                margin: 12px;
            }
